<div class="post-meta">
  <ul>
    <li>
      <i class="fa fa-user"></i>
      <%= link_to borrowed_request.user_name, "#" %>
    </li>
    <li>
      <i class="fa fa-clock-o"></i>
      <%= borrowed_request.created_at.strftime("%I:%M%p") %>
    </li>
    <li>
      <i class="fa fa-calendar"></i>
      <%= borrowed_request.created_at.strftime(t "date_format") %>
    </li>
  </ul>
</div>

<div id="request-<%= borrowed_request.id %>">
  <%= t ".status" %>
  <%= borrowed_request.status %>
  <br/>

  <%= t ".borrowed_date" %>
  <%= borrowed_request.borrowed_date.to_date %>
  <br/>

  <%= t ".returned_date" %>
  <%= borrowed_request.returned_date.to_date %>
  <br/>

  <%= t ".books" %>
  <%= render borrowed_request.book_requests %>
</div>
