<% provide :title, t(".title") %>

<section id="form">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="login-form">
          <h2><%= t ".title" %></h2>

          <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
            <%= f.email_field :email, placeholder: t(".email"), autofocus: true %>

            <%= f.password_field :password, placeholder: t(".password") %>

            <% if devise_mapping.rememberable? %>
              <span>
                <%= f.check_box :remember_me, class: "checkbox" %>
                <%= t ".remember_me" %>
              </span>
            <% end %>

            <%= f.submit t(".submit_button"), class: "btn btn-primary" %>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
