<!-- Start Footer Area -->
<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer about">
            <p class="text"><%= t ".footer_about" %></p>
            <p class="call"><%= t ".got_question" %>
              <span><a href="#"><%= t ".phone" %></a></span>
            </p>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4><%= t ".infor" %></h4>
            <ul>
              <li><a href="#"><%= t ".about_us" %></a></li>
              <li><a href="#"><%= t ".term" %></a></li>
              <li><a href="#"><%= t ".contact_us" %></a></li>
              <li><a href="#"><%= t ".help" %></a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer social">
            <h4><%= t ".contact" %></h4>
            <!-- Single Widget -->
            <div class="contact">
              <ul>
                <li><%= t ".address" %></li>
                <li><%= t ".email" %></li>
                <li><%= t ".phone" %> </li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Top -->
</footer>
<!-- /End Footer Area -->
