<header id="header"><!--header-->
  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="btn-group pull-left">
            <div class="btn-group">
              <%= link_to t(".english"), {locale: :en}, {class: "btn btn-default eng"} %>
            </div>
            <div class="btn-group">
              <%= link_to t(".vietnam"), {locale: :vi}, {class: "btn btn-default eng"} %>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <% if logged_in? %>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-shopping-cart"></i>
                    <%= t ".cart" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to t(".logout"), logout_path %>
                </li>
              <% else %>
                <li>
                  <%= link_to login_path do %>
                    <i class="fa fa-lock"></i>
                    <%= t ".login" %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->

  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li>
                <%= link_to t(".home"), root_path, class: "active" %>
              </li>
              <% if current_user&.role %>
                <li>
                  <%= link_to t(".requests"), admin_borrowed_requests_path, class: "active" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="search_box pull-right">
            <input type="text" placeholder=<%= t ".search" %> />
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->
</header><!--/header-->
